:root {
  --head-bg-color: #fff9f4;
  --button-color: #3745c6;
  --highlighted-text-color: #fa814d;
}

.bg-header {
  background-color: var(--head-bg-color);
}

.highlight {
  color: var(--highlighted-text-color);
}

.btn-color {
  background-color: var(--button-color);
}

.btn-color:hover {
  background-color: #13208c;
}
